<center><img src = ></center>

# **<center><font color='black'>K.J Somaiya College of Engineering</font></center>**

## <center><font color='red'>Engineering Final Year Project</font></center>

## <center>**<font color='purple'>InsureBuddy - An Insurance Recommender System</font></center>**

### **Author:**
### **Sujay Torvi**
### Co-Authors:
### 1. Krupen Shah
### 2. Harsh Somaiya
### 3. Tirth Desai

### CopyrightÂ© 2020 Under MIT License

## **<font color='purple'>`Problem Statement: To process, analyse and mine the data for useful insights in insurance product recommendation and model them using various algorithms, and deploying them into an application which would provide the user with useful insurance product recommendations`</font>**

## **III. Oversampling**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings('ignore')

In [12]:
from google.colab import files
u = files.upload()

Saving Final_Train.xlsx to Final_Train.xlsx

In [13]:
train = pd.read_excel('Final_Train.xlsx')

In [14]:
train.head()

   Unnamed: 0       ID sex  ... Policy 19 Policy 20 Policy 21
0           0  4WKQSBB   F  ...         0         0         0
1           1  CP5S02H   F  ...         0         0         0
2           2  2YKDILJ   M  ...         0         0         1
3           3  2S9E81J   M  ...         0         0         0
4           4  BHDYVFT   M  ...         1         0         0

[5 rows x 28 columns]

In [15]:
train = train[['sex', 'marital_status', 'age_group', 'occupation_category_code','Annual_Income','Policy 8','Policy 15','Policy 16','Policy 9','Policy 2','Policy 18','Policy 19','Policy 21']]

In [16]:
train.columns = ['sex', 'marital_status', 'age_group', 'occupation_category_code','Annual_Income','Policy 1','Policy 2','Policy 3','Policy 4','Policy 5','Policy 6','Policy 7','Policy 8']

In [17]:
train.head()

  sex marital_status age_group  ... Policy 6 Policy 7  Policy 8
0   F              M     25-40  ...        0        0         0
1   F              M     25-40  ...        0        0         0
2   M              S     25-40  ...        0        0         1
3   M              M     25-40  ...        0        0         0
4   M              M     25-40  ...        1        1         0

[5 rows x 13 columns]

In [18]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [19]:
train = pd.DataFrame(train.apply(preprocessing.LabelEncoder().fit_transform))

In [20]:
train.head()

   sex  marital_status  age_group  ...  Policy 6  Policy 7  Policy 8
0    0               0          0  ...         0         0         0
1    0               0          0  ...         0         0         0
2    1               1          0  ...         0         0         1
3    1               0          0  ...         0         0         0
4    1               0          0  ...         1         1         0

[5 rows x 13 columns]

In [21]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import ADASYN

In [22]:
from lightgbm import LGBMClassifier

In [23]:
!pip install scikit-multilearn

Requirement already satisfied: scikit-multilearn in /usr/local/lib/python3.6/dist-packages (0.2.0)

In [24]:
from skmultilearn.problem_transform import LabelPowerset

In [26]:
# Import a dataset with X and multi-label y
lp = LabelPowerset()
ros = RandomOverSampler(random_state=42,sampling_strategy = 'minority')

In [27]:
X = train[train.columns[:5]]
X.head()

   sex  marital_status  age_group  occupation_category_code  Annual_Income
0    0               0          0                         0              1
1    0               0          0                         0              1
2    1               1          0                         4              1
3    1               0          0                         2              1
4    1               0          0                         0              1

In [28]:
Y = train[train.columns[5:]]
Y.head()

   Policy 1  Policy 2  Policy 3  ...  Policy 6  Policy 7  Policy 8
0         1         1         0  ...         0         0         0
1         1         1         0  ...         0         0         0
2         1         0         0  ...         0         0         1
3         1         1         0  ...         0         0         0
4         0         0         0  ...         1         1         0

[5 rows x 8 columns]

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,random_state = 1008, test_size = 0.3)

In [30]:
test_data = X_test.join(y_test)

In [31]:
# Applies the above stated multi-label (ML) to multi-class (MC) transformation.
yt = lp.transform(y_train)

In [32]:
X_resampled, y_resampled = ros.fit_sample(X_train, yt)

In [33]:
# Inverts the ML-MC transformation to recreate the ML set
y_resampled = lp.inverse_transform(y_resampled)

In [34]:
features = pd.DataFrame(X_resampled)

In [35]:
features.head()

   0  1  2  3  4
0  0  0  0  0  1
1  0  0  1  0  1
2  0  0  0  4  1
3  1  0  1  4  1
4  0  1  0  4  1

In [36]:
label = pd.DataFrame(y_resampled.todense())

In [37]:
label.columns = ['Policy 1','Policy 2','Policy 3','Policy 4', 'Policy 5', 'Policy 6', 'Policy 7', 'Policy 8']
features.columns = ['sex','marital_status','age_group','occupation_category_code','Annual_Income']

In [38]:
for i in range(1,9):
 print(len(label[label['Policy '+str(i)] == 1]))

17666
15093
4737
13480
1286
977
974
12729

In [39]:
len(label)

32295

In [40]:
test_data.reset_index(inplace = True)

In [41]:
test_data = test_data[test_data.columns[1:]]

In [42]:
test_data.head()

   sex  marital_status  age_group  ...  Policy 6  Policy 7  Policy 8
0    0               1          0  ...         0         0         0
1    1               0          0  ...         0         0         0
2    0               0          1  ...         0         0         0
3    0               1          3  ...         0         0         0
4    0               0          1  ...         0         0         0

[5 rows x 13 columns]

In [43]:
train_data = features.join(label)

In [44]:
train_data.head()

   sex  marital_status  age_group  ...  Policy 6  Policy 7  Policy 8
0    0               0          0  ...         0         0         0
1    0               0          1  ...         0         0         1
2    0               0          0  ...         0         0         0
3    1               0          1  ...         0         0         0
4    0               1          0  ...         0         0         0

[5 rows x 13 columns]

In [ ]:
train_data.to_excel('Training_Data_Rebalanced.xlsx')

In [ ]:
train = train[['sex', 'marital_status', 'age_group', 'occupation_category_code','Annual_Income','Policy 1','Policy 2','Policy 3','Policy 4','Policy 5','Policy 6','Policy 7','Policy 8']]

In [ ]:
label = train[train.columns[5:]]

In [ ]:
for i in range(1,9):
 print('Policy No. {} is = {}'.format(i,len(label[label['Policy '+str(i)] == 1])))

Policy No. 1 is = 25240
Policy No. 2 is = 21545
Policy No. 3 is = 6805
Policy No. 4 is = 2168
Policy No. 5 is = 18842
Policy No. 6 is = 18481
Policy No. 7 is = 18474
Policy No. 8 is = 1097

In [ ]:
train = train[['sex', 'marital_status', 'age_group', 'occupation_category_code',\
       'Annual_Income', 'Policy 1', 'Policy 2',\
       'Policy 5', 'Policy 6', 'Policy 7']]

In [ ]:
train.to_excel('Training_Data_rebalanced.xlsx')

### Checking Dataset

In [ ]:
train = pd.read_excel('Training_Data_rebalanced.xlsx')

In [ ]:
train = train[train.columns[1:]]

In [ ]:
train.head()

   sex  marital_status  age_group  ...  Policy 3  Policy 4  Policy 5
0    0               0          0  ...         0         0         0
1    0               0          0  ...         0         0         0
2    1               1          0  ...         0         0         0
3    1               0          0  ...         0         0         0
4    1               0          0  ...         0         1         1

[5 rows x 10 columns]